name: MongoDB Integration Tests
on: [push, pull_request, repository_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash

jobs:
  linux-tests-mongodb:
    name: Run tests on Linux with MongoDB
    runs-on: ubuntu-latest
    strategy:
      matrix:
        duckdb_version: [ '<submodule_version>' ]
        arch: ['linux_amd64']
        include:
          - arch: 'linux_amd64'
            vcpkg_triplet: 'x64-linux'

    services:
      mongodb:
        image: mongo:7.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ping:1})'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      VCPKG_TARGET_TRIPLET: ${{ matrix.vcpkg_triplet }}
      GEN: Ninja

    steps:
    - name: Install required ubuntu packages
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install -y -qq build-essential cmake ninja-build ccache python3

    - name: Install mongosh
      run: |
        wget -qO- https://www.mongodb.org/static/pgp/server-7.0.asc | sudo tee /etc/apt/trusted.gpg.d/server-7.0.asc
        echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-7.0.list
        sudo apt-get update
        sudo apt-get install -y mongodb-mongosh

    - name: Test MongoDB connection
      run: |
        mongosh --host localhost:27017 --eval "db.runCommand({ping:1})"

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: 'true'

    - name: Checkout DuckDB to version
      if: ${{ matrix.duckdb_version != '<submodule_version>'}}
      run: |
        cd duckdb
        git checkout ${{ matrix.duckdb_version }}

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ github.ref == 'refs/heads/main' || github.repository != 'stephaniewang526/duckdb-mongo' }}

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11.1
      with:
        vcpkgGitCommitId: a42af01b72c28a8e1d7b48107b33e4f286a55ef6

    - name: Build extension
      env:
        GEN: ninja
        VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      run: |
        echo "VCPKG_TOOLCHAIN_PATH=$VCPKG_TOOLCHAIN_PATH"
        echo "VCPKG_TARGET_TRIPLET=$VCPKG_TARGET_TRIPLET"
        make release 2>&1 | tee build.log || (tail -100 build.log && exit 1)

    - name: Create MongoDB test data
      run: |
        bash test/create-mongo-tables.sh

    - name: Test extension
      env:
        MONGODB_TEST_DATABASE_AVAILABLE: 1
      run: |
        make test_release

